.navbar {
  background-color: #F1F1D6;
}
  
.logo {
  border-radius: 50px;
}
  
.nav-link {
  color: #BF0003;
  font-size: 18px;
  margin-left: 20px;
}
  
body {
  background-color: #006283;
}
  
.col {
  background-color: white;
}
  
.img1 {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
.cite {
  font-size: 12px;
  color: black;
  text-decoration: underline;
}
  
.info {
  font-size: 12px;
}

.user {
  background-color: white;
  border-color: black;
  border-style: solid;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border-width: 1px;
}

#ray {
  border-radius: 20px;
}

#info {
  padding-top: 50px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: lightgray;
}

table {
  background-color: white;
}

thead {
  background-color: #BF0003;
  color: white;
}

tfoot {
  background-color: #F1F1D6;
  color: white;
}

.tableheader {
  color: white;
}

.tablestyle {
  padding: 20px;
}

form {
  background-color: white;
  padding: 20px;
}


/** table sort function **/

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}