<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3.0.5"></script>
    <link rel="stylesheet" href="css/site.css">

    <title>Nick ROCKS</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="index.html">
        <img src="img/NICK.png" width="100" height="100" class="logo" alt="d-inline-block align-top" loading="lazy">
      </a>
      <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="table.html">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="user.html">User Information</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="someApp" class="container tablestyle">    
      <h1 class="tableheader">Table</h1>
        <!--40 - 46 & DIV TAG AT BOTTOM-->  
        <!-- <div v-for="b in books" v-on:click="selectBook(b)"
          :class="['book', {selected: selectedBook && s.id == selectedBook.id}]">
          <span class="booktitle">{{ b.booktitle }}</span><br>
          </div>

        <div class="col col-8" v-if="selectedBook">
          <h1>Information for {{ selectedBook.booktitle }}</h1> -->
      
          <table id="taskTable" class="table table-bordered table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th>Title</th>	
                <th>Author(s)</th>
                <th>Year Published</th>
                <th>Publisher</th>	
                <th>Page Count</th>
                <th>MSRP</th>
                <th>Edit/Delete</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="book in books">
                <td>{{ book.booktitle }}</td>
                <td>{{ book.authorname }} </td>
                <td>{{ book.pubyear }} </td>
                <td>{{ book.pubname }} </td>
                <td>{{ book.pgcount }} </td>
                <td>{{ book.msrp }} </td>
                <td>
                  <button type="button" class="btn btn-outline-secondary btn-sm"
                    v-on:click="selectBook(book)">Edit</button>
                  <button type="button" class="btn btn-outline-secondary btn-sm"
                    v-on:click="postDeleteBook(book)">Delete</button>
                </td>
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <td colspan="7"></td>
              </tr>
            </tfoot>
          </table>
          <h1 class="tableheader">Form</h1>

          <h3>{{ selectedBook === null ? "Add" : "Edit" }} Book</h3>
          <form v-on:submit.prevent="postBook">
            <div class="mb-3">
            <p><label for="booktitle">Book Title:</label>
            <input type="text" v-model="bookForm.booktitle" name="booktitle" class="form-control" id="booktitle" placeholder="Enter Book Title"></p>
            </div>
          
            <div class="mb-3">
            <p><label for="authorname">Author(s) Name:</label>
            <input type="text" v-model="bookForm.authorname" name="authorname" class="form-control" id="authorname" placeholder="Enter Author Name"></p>
            </div>

            <div class="mb-3">
            <p><label for="pubyear">Year Published:</label>
            <input type="number" v-model="bookForm.pubyear" name="pubyear" class="form-control" id="pubyear" placeholder="Enter Year Published"></p>
            </div>

            <div class="mb-3">
            <p><label for="pubname">Publisher:</label>
            <input type="text" v-model="bookForm.pubname" name="pubname" class="form-control" id="pubname" placeholder="Enter Publisher Name"></p>
            </div>

            <div class="mb-3">
            <p><label for="pgcount">Page Count:</label>
            <input type="number" v-model="bookForm.pgcount" name="pgcount" class="form-control" id="pgcount" placeholder="Enter Page Count"></p>
            </div>

            <div class="mb-3">
            <p><label for="msrp">MSRP:</label>
            <input type="text" v-model="bookForm.msrp" name="msrp" class="form-control" id="msrp" placeholder="Enter MSRP"></p>
            </div>

            <button type="submit" class="btn btn-primary">{{ selectedBook === null ? "Add" : "Edit" }} Book</button>
            <button type="button" class="btn btn-outline-secondary" 
                v-if="selectedBook"
                v-on:click="resetBookForm">Cancel</button>
          </form> 
        <!-- </div> -->
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src='js/tablesort.min.js'></script>
    <script src='js/table.js'></script>
    <script>
    /** Tablesort plugin from http://tristen.ca/tablesort/demo/ **/
      new Tablesort(document.getElementById('taskTable'));
    </script>
  </body>
</html>